body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;

    height: auto;
}

containar {
    width: 100%;
    display: block;
    padding-inline-start: 8%;
    padding-inline-end: 8%;
    max-width: 1600px;
}

nav {
    width: 1600px;
    max-width: 100%;
    /* color: white !important; */
    background-color: black;
    padding: 20px 0px;
    text-align: center;
}

nav a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 13%;
}
main {
    /* float: none; */
    width: 1150px;
    max-width: 100%;
    padding-inline-start: 14%;
    padding-inline-end: 14%;
    padding-top: 30px;
    text-align: justify;
}
main h2{
    color: darkred;
}