body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    height: auto;
}



nav {
    width: 1600px;
    max-width: 100%;
    /* color: white !important; */
    background-color: black;
    padding: 20px 0px;
    text-align: center;
    margin: 0 auto;
}

nav a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 13%;
}
main {
    /* float: none; */
    width: 1100px;
    max-width: 100%;
    /* padding-inline-start: 14%; */
    /* padding-inline-end: 14%; */
    padding-top: 30px;
    text-align: justify;
    margin: 0 auto;
    font-size: 15px;
}
main h2{
    color: darkred;
}